name: Build the website
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ['main']
jobs:
  docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - name: 'Setup Node.js with pnpm cache'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm install
      - name: 'Docusaurus build'
        run: |
          pnpm run build
          pnpm run format --check
